DB_USER=root
DB_PASS=root
DB_NAME=django_boilerplate_pg
PG_TRUST_LOCALNET=true

DB_HOST=django_boilerplate_pg
DB_PORT=5432

PYTHONUNBUFFERED=0

UKVD_KEY=58766075-cde1-4cb6-88d5-4ce88d5e455a
DEBUG=1
TWILIO_ID=AC46a56ed53214fa4d5687036f34ce07a5
TWILIO_TOKEN=d5e288fdfd7f63000a8e3495e8ea836a
GOOGLE_API=AIzaSyCgHpxBzqCScQaW3P5BQMCjv_2Y-Tc8Vgc
TZ=Etc/GMT
